<section class="gallery-section" id="gallery">

    <div class="heading">
        <h1>📸 Our Beautiful Memories</h1>
        <p>Every picture tells a story that I never want to forget.</p>
    </div>
    <div class="gallery-grid-0">
        <div class="card card1img">
            <img src="images/memory14.JPG" alt="">
        </div>
    </div>

    <!-- Row 1 -->
    <div class="gallery-grid-1">

        <div class="card">
            <img src="images/memory6.jpeg" alt="Memory 1">
        </div>

        <div class="card">
            <img src="images/memory3.JPG" alt="Memory 2">
        </div>

    </div>

    <!-- Row 2 -->
    <div class="gallery-grid-2">

        <div class="card">
            <img src="images/memory5.JPG" alt="Memory 3">
        </div>

        <div class="card">
            <img src="images/memory8.JPG" alt="Memory 4">
        </div>

        <div class="card">
            <img src="images/memory4.JPG" alt="Memory 4">
        </div>

    </div>

</section>