<!-- <section id="letter">

<div class="letter-card">

<h1>Dear Her Name ❤️</h1>

<p>

Happy Birthday!

Today is all about celebrating the amazing person you are.
Thank you for all the wonderful memories we've shared.
May your life always be filled with happiness, laughter,
good health, and endless success.

Keep smiling because your smile makes the world brighter.

Wishing you a year full of beautiful surprises.

Happy Birthday once again!

❤️

</p>

<h3>With Lots of Love</h3>

<h2>Your Name</h2>

</div>

</section> -->
<section class="letter-section" id="letter">

    <div class="letter-card">

        <h1>💌 A Letter For You</h1>

        <p>

            Dear Charani,

            Happy Birthday! 🎂

            Today is all about celebrating the amazing person you are.
            Thank you for being such a wonderful friend.

            I hope every dream you have comes true,
            every smile lasts forever,
            and every day gives you another reason to be happy.

            Keep smiling.
            Keep shining.

            Happy Birthday once again.

            ❤️

        </p>

        <h2>With Love,</h2>

        <h3>Mokshagna ❤️</h3>

    </div>

</section>