<section class="timeline">

<h1>Our Journey ❤️</h1>

<div class="timeline-container">

<div class="timeline-item">

<div class="circle"></div>

<div class="content">

<h2>First Meeting 🌸</h2>

<p>We had our first meeting at lab and clarifying doughts😊</p>

</div>

</div>

<div class="timeline-item">

<div class="circle"></div>

<div class="content">

<h2>Best Memories 📸</h2>

<p>We had lots of memories during exams free time in college in breaks and all</p>

</div>

</div>

<div class="timeline-item">

<div class="circle"></div>

<div class="content">

<h2>Lots of Laughs 😂</h2>

<p>Lots of jokes on each other taking them as spotive is good</p>

</div>

</div>

<div class="timeline-item">

<div class="circle"></div>

<div class="content">

<h2>5 years of freindship</h2>

<p>And we have last 5 years of freindship</p>

</div>

</div>

</div>

</section>